/* selectores
body
#id
.clase */



:root{
  --background-dark: #2d3548;
  --text-light: rgba(255,255,255,0.6);
  --text-lighter: rgba(255,255,255,0.9);
  --spacing-s: 8px;
  --spacing-m: 16px;
  --spacing-l: 24px;
  --spacing-xl: 32px;
  --spacing-xxl: 64px;
  --width-container: 1200px;
}


body{
    margin: 0px;
    padding: 0px;
    text-align: center;

    /* fuentes */
    font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

img{
  width: 100%;
  height: 100%;
}

header{
    width: 100%;
    background: white;
    /* border-bottom: 1px solid black; */
    border-top: 4px solid rgb(0, 54, 105) ;
}



.center{
    width: 100%;
    margin: 0px auto;

}

.clearfix{
    clear: both;
    float: none;
}

.membrete{
width: 100%;
height: 40px;
border-bottom:5px solid rgb(2, 73, 139);
/* float: left; */
/* margin-right: 60px; */
}

.membrete img{
    /* height: 55px; */
    width: 100%;
    height: 100%;
    /* display: block; */
}


#logo{
    width: 20%;
    font-size: 30px;
    float: left;
    margin-top: 20px;
    margin-left: 10%;
    padding-left: 40px;
    color: #000;


}


#logo img{
    display: block;
    float: left;
    height: 70px;
    width: 80px;
    margin-top: -10px;
    border-radius: 10px;

}



#brand{
   
    display: block;
    margin-left: 7px;
    float:left;
    margin: auto;
}

#menu{
    width: 40%;
    height: 60px;
    float: right;
    font-size: 18px;
}

#menu ul{
    margin-top: 0px;
    margin-bottom: 0px;
    line-height: 60px;
    width: 100%;
    float: right;
}

#menu ul li{
    display: block;
    display: inline-block;
    list-style: none;
    /* height: 40px; */
    margin-left: 15px;
    margin-right: 15px;

}

#menu ul li i{
     line-height: 90px;
   font-size: 25px
}

#menu a{
    text-decoration: none;
    color: black;
    transition: all 300ms;
}

#menu a:hover{
    color: rgb(0, 87, 187);
}

/* hamburguesa */
.hamburger-menu {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 65px;
  margin: auto;
  width: 40px;
  height: 60px;
  font-size: 40px;
  cursor: pointer;
  right: 5%;
  z-index: 1;

}


/*CARRUSEL*/

/* Contenedor para centrar */
.ContainerCenter{
  display: flex;
  align-items: center;
  flex-direction: column;
   color:White;
  font-size:40px;
  text-align: center;
}
/* Input */
.radio-carrusel{display: none}



/* Slider */
.Carrusels{
  height: 550px;
  width: 100%;
  position: relative;
  overflow-x: hidden;
}
.Carrusel{
  height: 100%;
  width: 100%;
  position: absolute;
  background-size: cover;
  overflow-y: hidden;
  transition: all .5s ease;
}

.Carrusel img{
    width: 100%;
    height: 100%;
}
/* Configuracion de elementos individuales */

/* Estado 1 */
#Slider1:checked ~ .Carrusels .Carrusel:nth-of-type(1) {transform: translate(0%, 0);}
#Slider1:checked ~ .Carrusels .Carrusel:nth-of-type(2) {transform: translate(100%, 0);}
#Slider1:checked ~ .Carrusels .Carrusel:nth-of-type(3) {transform: translate(200%, 0);}
/* Estado 2 */
#Slider2:checked ~ .Carrusels .Carrusel:nth-of-type(1) {transform: translate(-100%, 0);}
#Slider2:checked ~ .Carrusels .Carrusel:nth-of-type(2) {transform: translate(0%, 0);}
#Slider2:checked ~ .Carrusels .Carrusel:nth-of-type(3) {transform: translate(100%, 0);}
/* Estado 3 */
#Slider3:checked ~ .Carrusels .Carrusel:nth-of-type(1) {transform: translate(-200%, 0);}
#Slider3:checked ~ .Carrusels .Carrusel:nth-of-type(2) {transform: translate(-100%, 0);}
#Slider3:checked ~ .Carrusels .Carrusel:nth-of-type(3) {transform: translate(0%, 0);}


/* Flechas */
.Carrusels .ArrowLeft, .Carrusels .ArrowRight{
  position: absolute;
  height: 100%;
  width: 2em;
  align-items: center;
  justify-content: center;
  display: none;
  user-select: none;
  cursor: pointer;
}
.Carrusels .ArrowLeft{left: 0px;}
.Carrusels .ArrowRight{right: 0px;}
/* Configuracion de flechas individuales */
#Slider1:checked ~ .Carrusels .Arrow1{display: flex;}
#Slider2:checked ~ .Carrusels .Arrow2{display: flex;}
#Slider3:checked ~ .Carrusels .Arrow3{display: flex;}




/* contenido */

.content{
    width: 60%;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: justify;
}

.content p{
 padding: 5px;
}

.title{
    font-size: 50px;
    text-align: center;
    margin: 0px;
    padding: 0px;
    font-family: 'Nocturno Display';
}

.title2{
  font-size: 50px;
  text-align: center;
  margin: 0px;
  margin-bottom: 15px;
  padding: 0px;
  font-family: 'Nocturno Display';
  color: #012441;
}

.subtitle{
    font-size: 30px;
    color: #444;
    text-align: center;
    font-family: 'Nocturno Display';
  margin: 0px;
    padding: 0px;
}
 
.subtitle-noticias{
  font-size: 20px;
  color: #1C7BF9;
  font-family: 'Nocturno Display';
  margin: 0px;
  padding: 0px;
}

.img-noticias {
  width: 500px;
  text-align: center;
  margin: auto;

}
 .img-noticias img{
  width: 100%;
 }

 .list li{
  padding: 5px;
 }

 .enlase{
  color: #444;
  text-decoration: none;
 }
 .enlase:hover{
  color: #012441;
 }




.btn-white{
    display: block;
    color: #000;
    background: rgb(187, 187, 177);
    padding: 10px;
    width: 90px;
    height: 35px;
    margin: auto;
    font-size: 18px;
    text-transform: uppercase;
    text-shadow: none;
    text-decoration: none;
    line-height: 35px;
    box-shadow: 0px 0px 5px #444;
    margin-top: 40px;
    border-radius: 5px; 
 }

 .btn-white:hover{
    background: rgb(241, 245, 248);
 }


 #content{
    width: 70%;
    float: left;
    min-height: 450px;
    margin-right: 25px;
 }



/* tarjetas */

.hero-section{
  align-items: flex-start;
  display: flex;
  min-height: 100%;
  justify-content: center;
  padding: var(--spacing-xxl) var(--spacing-l);
}

.card-grid{
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-column-gap: var(--spacing-l);
  grid-row-gap: var(--spacing-l);
  max-width: var(--width-container);
  width: 100%;
}

@media(min-width: 540px){
  .card-grid{
    grid-template-columns: repeat(2, 1fr); 
  }
}

@media(min-width: 960px){
  .card-grid{
    grid-template-columns: repeat(4, 1fr); 
  }
}

.card{
  list-style: none;
  position: relative;
}

.card:before{
  content: '';
  display: block;
  padding-bottom: 150%;
  width: 100%;
}

.card__background{
  background-size: cover;
  background-position: center;
  border-radius: var(--spacing-l);
  bottom: 0;
  filter: brightness(0.75) saturate(1.2) contrast(0.85);
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transform-origin: center;
  transform: scale(1) translateZ(0);
  transition: 
    filter 200ms linear,
    transform 200ms linear;
}

.card:hover .card__background{
  transform: scale(1.05) translateZ(0);
}

.card-grid:hover > .card:not(:hover) .card__background{
  filter: brightness(0.5)  contrast(1.2) blur(20px);
}

.card__content{
  left: 0;
  padding: var(--spacing-l);
  position: absolute;
  top: 0;
}


.card__heading{
  color: var(--text-lighter);
  font-size: 1.9rem;
  text-shadow: 2px 2px 20px rgba(0,0,0,0.2);
  line-height: 1.4;
  word-spacing: 100vw;
}

/* tarjeta directores */
.container-directores {
  background: radial-gradient(circle at center, rgba(49, 130, 202, 0.8) 40%, #3182ca 60%);
  max-width: 90rem;
  margin: 1rem auto;
  padding: 3rem 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-column-gap: 1rem;
}
.wrapper {
  height: 25rem;
}
.card-directores {
  height: 100%;
  perspective: 100px;
  -webkit-perspective: 1000px;
  position: relative;
}
.card__side {
  height: 100%;
  width: 100%;
  border-radius: 10px;
  position: absolute;
  top: 0;
  left: 0;
  backface-visibility: hidden;
  transition: all .8s ease;
  overflow: hidden;
  text-align: center;
}
.card__side--front {
  background-color: #fff;
}
.card__side--back {
  background: #13293D;;
  transform: rotateY(180deg);
}
.card-directores:hover .card__side--front {
  transform: rotateY(-180deg);
}
.card-directores:hover .card__side--back {
  transform: rotateY(0deg);
}
.card__image {
  margin: 1rem 0;
}
.card__image--round {
  width: 10rem;
  height: 10rem;
  clip-path: circle(50% at 50% 50%);
}
.card__username {
  color: #13293D;
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1rem;
}
.card__features ul {
  list-style: none;
  padding: 0;
  margin: 8px;
}
.card__features ul li {
  text-align: center;
}
.card__features ul li:not(:last-child) {
  margin-bottom: 0.3rem;
}
.card__text {
  color: #fff;
}
.card__text--small {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.5rem;
  margin-top: 1rem;
}
.card__text--large {
  font-size: 0.8rem;
  text-align: left;
  margin: 8px;
  margin-left: -8px;
}

.circle {
  position: absolute;
}
.circle--top-left {
  left: 2rem;
  top: 1rem;
}
.circle--top-right {
  left: 13rem;
  top: 2rem;
}
.circle--bottom-right {
  left: 1rem;
  top: 9rem;
}
.circle--bottom-left {
  top: 9rem;
  left: 13rem;
}
.circle__big-lightblue {
  width: 28px;
  height: 28px;
  border-radius: 100px;
  background-color: #CDDEF0;
}
.circle__medium-grey {
  width: 18px;
  height: 18px;
  border-radius: 100px;
  background-color: #4B4F53;
}
.circle__small-darkblue {
  width: 10px;
  height: 10px;
  border-radius: 100px;
  background-color: #3182CA;
}
.mostrar-log-dir{
  bottom: 0.5rem;
  right: 0.5rem;
  height: 1rem;
  visibility: hidden;
}
.s{
  height: 1rem;
  margin: 0px;
}

/* barra desplazamiento lateral */
.scrollbar { 

  height: 300px; 
  overflow-y: scroll; 
}
.scrollbar::-webkit-scrollbar {
  width: 5px; /* ajusta el ancho  */
}
.scrollbar::-webkit-scrollbar-track {
  background: #13293D; /* color de fondo */
}
.scrollbar::-webkit-scrollbar-thumb {
  background-color: #888; /* color del deslizador  */
  border-radius: 5px; 
}



.btn-success {
    display: block;
    background: rgb(161, 152, 243);
    color: aliceblue;
    padding: 10px;
    font-size: small;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    max-width:130px ;
    border: none;
    cursor: pointer;
    transition: 300ms;
}

.btn-success:hover{
    background: rgb(76, 116, 143);
}

.mid-form{
    width: 50%;
    margin: auto;
}

.mid-form label{
    display: block;
    float: left;
    text-align: left;
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 17px;
}

.mid-form input[type="text"], textarea{
    width: 100%;
    min-height: 30px;
    border: 1px solid #ccc;
    margin-bottom: 5px;
    border-radius: 7px;
    padding: 4px;
    transition: 300ms all;
}
.mid-form input[type="text"]:focus{
    box-shadow: 0px 0px 3px  rgb(38, 38, 51) inset;
}

/* Ubicacion */

.ubicacion{
    height: 250px;
    width: 100%;
    margin-top: 25px;
    margin-bottom: 25px;

}



/*:::::Pie de Pagina*/
footer{
    width: 100%;
    background-color: #02192c;

}
.grupo-1{
    width: 90%;
    margin: auto;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:50px;
    padding: 15px 0px;
    display: flow-root;
    justify-content: center;
}

.contactanos{
    margin-left: 30px;
    width: 60%;
    float: left;

}

.contactanos h2,
.contactanos p{
    color: white;
    margin-bottom: 10px;
}

.contactanos p{
    text-align: left;
}

.red-social ul{
    margin-left: 20px;
    margin-right: 30px;
    padding: 0px;
    float: right;
}

.icon {
    position: relative;
    width: 42px;
    height: 42px;
    margin: 20px;
    color: white;
    border-radius: 50%;
    transition: all .8s;
    cursor: pointer;
    display: block;
    float: right;
    margin-right: 0;
}

.facebook:hover{
    background-color: #145a9c;
    box-shadow:  0 0 20px #145a9c ;
}

.twitter:hover{
    background-color: #4ea5f7;
    box-shadow:  0 0 20px #4ea5f7 ;
}

.instagram:hover{
    background-color: #f74ebf;
    box-shadow:  0 0 20px #f74ebf ;
}

.youtube:hover{
    background-color: #f83838;
    box-shadow:  0 0 20px #f83838 ;
}



.icon i {
    position: absolute;
    font-size: 25px;
    color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

svg{
    height: 42px;
    width: 42px;

}

svg circle {
    position: absolute;
    stroke-dasharray: 10px;
    transition: all .8s ease-in-out;
    display: inline-block;

} 

.icon:hover circle {
    stroke-dasharray: 220;
}


.grupo-2{
    background-color: #11151e;
    padding: 5px 10px;
    text-align: center;
    color: #fff;

}
.grupo-2 small{
    font-size: 12px;
}
.link-team{
  text-decoration: none;
  color: white;
}

.link-team:hover{
  text-decoration:underline;
}


.subheader{
    font-size: 36px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
}



/*GALERIA*/
.container{
  margin:3em auto;
  width:75%;
  border:solid white 5px;
  border-radius:30px;
  box-shadow:5px 5px 25px rgba(0,0,0, .5);
  overflow:hidden;

}

  .thumbnail{
    display:flex;
    flex-wrap:wrap;
  }
    
    .thumb{
      height:200px;
      width:20%;
      transition:all .2s;
      object-fit:cover;
      cursor:pointer;
    }

      .thumb:hover{
        box-shadow: 3px 3px 20px ;
        opacity:.8;
      }


  .desc{  
    position:relative;
    width:100%;
    height:550px;
    overflow:hidden;
  }
   
    .desc:hover .judul{
      transform:translateY(80px);
    }
    
    .desc:hover .tittle{
       background: linear-gradient(180deg, rgba(0,0,0,.8) 0%, rgba(0,0,0,.3) 30%,rgba(0,0,0,.3) 70%, rgba(0,0,0,.8) 100%);
      opacity:1;
    }
    
    .desc:hover .text{
      transform:translateY(-150px);
    }
    .prev{
        object-fit:cover;
        width:100%;
        height:100%;
    }
    .tittle{
      margin:auto;
      overflow:hidden;
      width:100%;
      height:100%;
      position:absolute;
      transition:all .3s ease;
      opacity:0;
      display:flex;
      flex-direction:column;
    }

      .judul{
        color:white;
        padding:20px;
        margin-top:-40px;
        transition:all .3s ease;
        
      }
      
      .text{
        color:white;
        margin-top:500px;
        padding:20px;
        transition:all .35s ease .4s ;
      }

@keyframes fade {
  to {
    opacity:1;
  }
}

.effect {
  opacity:0;
  animation: fade .2s forwards;
}

.active{
  opacity:.5;
}


/*Login*/

.cont-log-reg{
  position: relative;
  height: 400px;
}

.login-box {
    position: relative;
    width: 400px;
    padding: 40px;

    background: #000614;
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;

    margin: auto;
    margin-top: 20px;
    margin-bottom: 30px;
    padding-bottom: 30px;
  }
  
  .register {
    position: absolute;
    background: #0d172c;
    visibility: hidden;
    top: 42%;
    left: 50%;
    transform: translate(200%,-50%);
    padding-bottom: 25px;
    transition: 2s;

}

.show-register{
 transition: 2s;
 transform: translate(-50%,-50%);
 visibility: visible;


}

  .mb-2 {
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
  }

  .xs{
    color: white;
    margin-top: -25px;
  }
  
  .user-box {
    position: relative;
  }
  
  .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;

}
   .user-box label {
    position: absolute;
    top:0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
  }
  
  .user-box input:focus ~ label,
  .user-box input:valid ~ label {
    top: -20px;
    left: 0;
    color: #03e9f4;
    font-size: 12px;
  }

  .button-form{
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #03e9f4;
    background: #000614;
    font-size: 16px;

    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 20px;
    letter-spacing: 4px;
    border-radius: 5px;
    border-color: #ffffff;
  }
  .button-register{
    margin-top: 0px;
    background: #0d172c;
  }

  .button-form:hover{
    color: #fff;
    cursor: pointer;
    transition:all .8s ease;
}

.message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 15px;
  transition:.5s;

}

.message:hover{
  color: #4faab6;
  cursor: pointer;
}

/* DIAGNOSTICO */

:root {
  --border-color: rgb(0, 54, 105) ;
  --border-size: 10px;
  --border-style: dashed;
  --dash-offset: 5;
}



.article-content {
  max-width: min(900px, 90%);
  margin: 0 auto; 
  padding: 1.5rem;
  
  display: grid;
  place-items: center;
  grid-template-columns: 1fr;
  
}


.punteado {
  margin: 0;
  padding: 1rem 2rem;

}

.punteado:nth-child(2n) {	
  border-bottom: var(--border-size) var(--border-style) var(--border-color);
  border-left: var(--border-size) var(--border-style) var(--border-color);
  
}

.punteado:nth-child(2n) .art-color::after {
  content: "";
  position: absolute;
  left: 50%;
  z-index: -1;
  top: 0;
  width: calc(50svw);
  height: 100%;
  background-color: inherit;
}

.punteado:nth-child(2n - 1) {
  
  border-bottom: var(--border-size) var(--border-style) var(--border-color);
  border-right: var(--border-size) var(--border-style) var(--border-color);
  

}

.punteado:nth-child(2n - 1) .art-color::after {
  content: "";
  position: absolute;
  right: 0;
  z-index: -1;
  top: 0;
  width: 100vw;
  height: 100%;
  background-color: inherit;
}

.art-color {	
  position: relative;
  background-color: var(--border-color);
  color: #ffffff;
}

.art-color {
  margin: 0;
  padding: .5em 2em;
  border-left-width: 19.5px;
 
}

/* videos */
.videos{
  display: flex;
  justify-content: space-evenly;
  width: 800px;
} 

@media only screen and (max-width: 600px) {
  :root {
    font-size: 0.75rem;
  }

  .article-content {
    padding: 0.5rem;
  }
  .punteado {
    padding: 0.25rem 1rem;
  }
  .art-color{
    margin-block: 1rem;
  }
}


/* calendario */
#calendario{
  margin: auto;
  width: 80%;
  display: flex;
  justify-content: center;
  padding: 20px;

}

.calender {
	border-radius: 20px;
	background-color: #fff;
	box-shadow: 0 0 10px 10px #ccc;
	padding: 40px;
  margin: 0px;
  margin-left: 40px;
  width: 40%;
  float: left;
}
.calender-year {
	font-size: 2rem;
	margin-bottom: 30px;
	margin-left: 20px;
}
.calender-content {
	display: grid;
	grid-template-columns: 14% 14% 14% 14% 14% 14% 14%;
	place-items: center;
	row-gap: 1rem;
	padding: 20px;
	text-align: center;
	/* width: 100%; */
	font-size: 1.2rem;
}
.calender-day {
	text-align: center;
	border-radius: 50rem;
	width: 50px;
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #605d5d;
	cursor: pointer;
	transition: background-color 0.5s;
}
.calender-day.disabled {
	color: #dfdfdf;
	cursor: not-allowed;
}
.calender-day.current {
	background-color: #f3f9fe;
	color: #70b0e8;
}
.calender-day.active-calender {
	background-color: #033461;
	color: #fff;
}


.date {

  width: 40%;
  margin: 0px;
  padding: 0px;
  float: left;
}

.date h1 {
	font-size: 5rem;
	color: #033461;
  margin: 0px;
  text-shadow: -2px -2px 8px #1d90f4aa;
}
.date h3 {
	position: relative;
	/* z-index: 2; */
	font-size: 2rem;
	margin-top: -20px;

	text-shadow: -2px -2px 8px #1d90f4aa;
}
.date h2 {
	font-size: 2rem;
	line-height: 2rem;

}
.date h2:nth-of-type(1) {
	margin-top: 50px;
}
.date p {
	margin: 20px 0;
	font-weight: 300;
	font-size: 1.2rem;
}

/* personal  */

.cards-personal {
  margin: 1rem auto;
  padding: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
}
.card-personal {
  display: flex;
  margin: 10px;
  height: 100px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.425);
}
.card-personal .image img {
  width: 100px;
  height: 100px;
  border-radius: 5px;

}
.content-personal {
  padding: 10px 15px;
  text-align: left;
}
.content-personal p{
  margin: 0;
}

.xl{
  color: #13293D;
  font-size: 1.4rem;
  font-weight: 600;
  margin: 0px;
  margin-bottom: 0.5rem;
}

/* actividades area personal */

.cards_dia_actividades {
  text-align: left;
  margin-bottom: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 0 10px;
}

.card_dia_actividades {
  display: flex;
  flex-direction: column;
  margin: 10px;
  padding: 6px;
  box-shadow: 5px 5px 20px hsl(229, 6%, 66%);
  border-radius: 10px;
}

.card__title_dia_actividades {
  margin-top: 10px;
  margin-bottom: 5px;
  text-align: center;
}

.card__description_dia_actividades {
  color: rgb(43, 43, 43);
}

.card__supervisor_dia_actividades {

  border-top: 4px solid rgb(0, 9, 139);;
}

.card__teambuilder_dia_actividades {
  border-top: 4px solid rgb(6, 213, 240);
}

.card__karma_dia_actividades {
  border-top: 4px solid rgb(55, 127, 221);
}



span.card__svg_dia_actividades {
  display: flex;
  justify-content: end;
}





/* team */
.row{
  margin: 2rem  0;
  overflow: hidden;
  padding: 1rem;

}
.col-md-8{
  position: relative;
  width: 50%;
}

.team-members {
	transform: rotate(-45deg);
}
.team-members li{
  list-style: none;
}
.team-members li > div {
	float: left;
	width: 30%;
}

.team-members li:nth-child(2) > div:first-child {
	margin-left: 50%;
}

.team-members li:last-child > div:first-child {
	margin-left: 30%;
}

.member-details > div {
	background-color: #ddd;
	margin: 5px;
}
.member-details img {
	transform: rotate(45deg) translate(0, 15px) scale(1.2);
	display: block;
	width: 100%;
	height: 100%;
}

/* hover content - style */
.member-details > div {
	position: relative;
	overflow: hidden;
}


/* Team overview */
.col-md-4{
  width: 30%;
}
.team-overview {
	padding-right: 15px;

}
.team-overview h2 {
	text-transform: uppercase;
	font-size: 22px;
	font-weight: 700;
	margin-bottom: 5px;
}

/* For centering elements - optional - Can use table,tablecell instead */
.flex-center {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.flex-center > div:first-child {
	order: 2;
}



/* team 2 pagina principal */
.contenedor-team-pag-prin{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}
.person-team2 {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 280px;
}
.container-team2 {
  border-radius: 50%;
  height: 250px;
  -webkit-tap-highlight-color: transparent;
  transform: scale(0.38);
  width: 400px;

}


.container-inner-team2 {
  clip-path: path(
    "M 390,400 C 390,504.9341 304.9341,590 200,590 95.065898,590 10,504.9341 10,400 V 10 H 200 390 Z"
  );
  position: relative;
  transform-origin: 50%;
  top: -180px;
  width: 50px;
}
.circle-team2 {
  background-color: #68928b;
  border-radius: 50%;
  cursor: pointer;
  height: 380px;
  left: 10px;
  pointer-events: none;
  position: absolute;
  top: 210px;
  width: 380px;
}
.img-team2 {
  pointer-events: none;  position: relative;
  transform: translateY(20px) scale(1.15);
  transform-origin: 50% bottom;
}

.img1-team2 {
  left: -2px;
  top: 200px;
  width: 350px;
}
.img2-team2 {
  left: 6px;
  top: 220px;
  width: 350px;
}
.img3-team2 {
    left: 10px;
    top: 230px;
  width: 350px;
}
.divider-team2 {
  background-color: #553fbb;
  height: 1px;
  width: 160px;
}
.name-team2 {
  color: #404245;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
}



/* RESPONSIVE */
@media only screen and (max-width : 992px) {
	.sm-no-flex {
		display: block;
	}
	.sm-no-float {
		float: none !important;
	}
	.sm-text-center {
		text-align: center;
	}
}







/* RESPONSIVE */
@media(max-width:1310px) {
  /* tamaño letra correos personal */
  .xxss{
    font-size: 12px;
  }
}

@media(max-width:1240px){
  .center{
      width: 95%;
  }

  .videos{
    width: 700px;
  } 

}

@media(max-width:1200px){
  /* directores */

  .container-directores {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .wrapper {
    margin-bottom: 1rem;
  }

  /* team */
  .row {
    margin: 1rem;
  }
}
@media(max-width: 1212px){
  #menu{
    width: 50%;
  }

  /* contenido */
  .subtitle{
    font-size: 25px;
  }
}

@media(max-width: 1162px){
  /* personal */
  .cards-personal {
    grid-template-columns: 1fr 1fr;
  }
  .xxss{
    font-size: 15px;
  }
}
@media(max-width: 1008px){
  #logo{
    width: 30%;
  }

  .Carrusels{
    height: 450px;
  }

    /* contenido */
    .content{
      width: 70%;
    }

    /* calendario */
    #calendario{
      width: 90%;
    }

    .date{
      width: 50%;
    }

    .date p{
      font-size: 1.1rem;
    }

    .videos{
      width: 650px;
    } 

}

@media(max-width:964px){
  .desc{
    height: 40%;
  }
  }

@media(max-width:906px){
  #logo{
      width: 265px;
  }

  #menu{
      width: auto;
  }

  /* footer */
  .contactanos{
    width: 90%;
  }

  /* galeria */
  .thumb {
    height: 150px;
  }
  /* personal */
  .xxss{
    font-size: 12px;
  }

  /*  team */
  .flex-center {
    margin: 1rem auto;
    padding: 1rem;
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
  }
  .col-md-4 {
    width: 100%;
  }
  .col-md-8 {
    width: 80%;
  }
}
@media(max-width: 864px){
  #logo{
    margin-left: 0%;
  }
  .Carrusels{
    height: 400px;
  }

  /* contenido */
  .content{
    width: 80%;
  }
}

@media (max-width: 823px){
.hamburger-menu{
  opacity: 1;
  visibility: visible;
}


#menu{
  font-size: 18px;
  display: inline-table;
  flex-direction: row;

}


.main-menu{
  text-align: center;
  list-style: none;
  display: inline-block;
  flex-direction: row;
  position: absolute;
  transform: translateY(-150%);
}

.main-menu li{
text-align: center;
align-items: center;
  width: 100%;
  flex-direction: row;
  position: relative;

}
.main-menu li:hover{
background: #aaccff;

}
#menu a{
  padding-top: 18px;
  padding-bottom: 18px;
  padding-left: 250px;
  padding-right: 250px;
}

.main_menu_show{
  position: relative;
  transform: translateY(0);
}

}


@media(max-width:814px){
    #logo{
        float: none;
        /* width: 240px; */
        margin: auto;
        margin-top: 20px;
    }

    #content {
        float: none;
        width: 100%;
    }

    #sidebar {
        float: none;
        width: 70%;
        margin: auto;
        margin-bottom: 50px;
    }

    .mid-form{
        width: 70%;
    }

    .grupo-1{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap:30px;
        padding: 35px 0px;
    }

  /* calendario */
  .date h2 {
    font-size: 1.5rem;
  }
  .date h2:nth-of-type(1) {
    margin-top: 30px;
  }
  .date p {
    font-size: 1rem;
  }

  /* barra desplazamiento */
  .contenedor-videos{
    width: 500px;
    padding: 5px;
    overflow-x: scroll;
 
} 

.contenedor-videos::-webkit-scrollbar {
  height: 10px; /* ajusta el ancho  */
}
.contenedor-videos::-webkit-scrollbar-track {
  background: #f1f1f1; /* color de fondo */
}
.contenedor-videos::-webkit-scrollbar-thumb {
  background-color: #222125; /*colordeldeslizador*/
  border-radius: 5px;
}



}

@media(max-width: 774px){

  /* personal */
  .cards-personal {
    grid-template-columns: 1fr ;
    padding: 1rem 7rem;
  }
}

@media(max-width: 756px){

  /* contenido */
  .subtitle{
    font-size: 20px;
  }

/* menu */

#menu a{
  padding-left: 150px;
  padding-right: 150px;
}


  /* calendario */
  #calendario {
    width: 80%;
    display: inline-block;
  }

  .calender{
    width: 80%;
    margin-top: 30px;
    margin-left: 10px;
  }

  .date {
    width: 100%;
  }

  /* galeria */
  .container {
    width: 85%;
  }

}

@media(max-width: 728px){
  .mostrar-log-dir{
    visibility: visible;
  }
  
    /* directores */

    .container-directores {
      grid-template-columns: 1fr 1fr ;
    }
    .card__text--large {
      font-size: 1rem;
    }
}

@media(max-width: 650px){
  .contenedor-videos{
    width: 450px;
  }
  .title2 {
    font-size: 40px;
  }

  .img-noticias {
    width: 400px;
  }

}
@media(max-width: 608px){
  .contenedor-videos{
    width: 400px;
  }
}
@media(max-width: 600px){
  .scrollbar {
    height: 220px;
  }
}

@media(max-width:546px){
    #header{
        min-height: 130px;
        overflow: hidden;
    }

    #logo{
      float: none;
      /* width: 240px; */
      margin: 0px;
      margin-top: 20px;
  }

   #menu, #menu ul{
        line-height: 50px;
    }

    #menu ul li{
        margin-left: 7px;
        margin-right: 7px;
        padding-top: 10px;
        padding-bottom: 10px;
}       
    

    #menu a{
      padding-top: 18px;
      padding-bottom: 18px;
      padding-left: 140px;
      padding-right: 140px;
    }

    /* contenido */
    .subtitle-noticias {
      font-size: 1.3rem;
    }

    /* carrusel */
    .Carrusels {
      height: 300px;
    }

    /* calendario */
    .calender {
      width: 90%;
      padding: 10px;
      padding-top: 30px;
      margin-left: 0px;
    }

    .calender-day{
      width: 40px;
      height: 30px;
    }

    /* galeria */
    .thumb {
      width: 25%;
    }

    /* team */
    .member-details {
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.425);
    }
    

}
@media(max-width: 500px){

  .img-noticias {
    width: 300px;
  }

    .contenedor-videos{
      width: 350px;
    }
  
}

@media(max-width:450px) {
  #menu a{
    padding-left: 100px;
    padding-right: 100px;
  }


  .title2 {
    font-size: 30px;
  }

  /* galeria */
  .thumb {
    width: 33%;
  }

  /* login */
  .login-box {
    width: 90%;
    padding: 30px;
  }

  .contenedor-videos{
    width: 300px;
  }

    /* directores */
    .container-directores {
      grid-template-columns: 1fr;
    }

    .circle__big-lightblue {
      width: 30px;
      height: 30px;
    }
    .circle--top-left {
      left: 4rem;
    }
    .circle--bottom-right {
      left: 3rem;
    }
    .circle--bottom-left {
      left: 20rem;
    }

}

@media(max-width: 400px){
  .contenedor-videos{
    width: 250px;
  }
}

@media(max-width:372px){

     .img-noticias {
      width: 250px;
    }

     /* menu */
     #menu a{
      padding-left: 80px;
      padding-right: 80px;
    }

    /* galeria */
    .thumb {
      height: 100px;
    }
}